.controls {
  background-color: #062c56;
  height: 150px;
  line-height: 150px;
}

.buttons {
  border-radius: 2px;
  margin-right: 20px;
  width: 190px;
  height: 44px;
  border: none;
  background-color: #3884ff;
  color: #fff;
  font-size: 14px;
}

.input {
  border-radius: 2px;
  margin-right: 20px;
  width: 260px;
  height: 44px;
  border: none;
}
