.history {
  margin: 0 auto;
  width: 870px;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid #ebeef2;
}

.head .column {
  background-color: #ebeef2;
  border: 1px solid #fff;
}

.column {
  height: 70px;
  border: 1px solid #ebeef2;
}

.body {
  color: grey;
}
